.container {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: white;
  /* for position: absolute and left: 1px to work -> parent (.container) needs to have position: relative */
  position: absolute;
  left: 1px;
}
